{% load static %}
<div id="footer" class="footer-container" data-sticky-footer>
    <footer class="footer">
        <div class="medium-3 column">
            <img class="footer-logo" src="{%  static  'tools_frontpage/img/plain_logo_rbg_cropped.svg' %}">
            <ul class="quick-links">
                <li><a class="yellow" href="https://www.wprdc.org/about'">About</a></li>
                <li><a class="yellow" href="https://www.wprdc.org/contact">Contact Us</a></li>
                <li><a class="yellow" href="https://www.wprdc.org/terms">Terms</a></li>
                <li><a class="yellow" href="https://www.wprdc.org/privacy">Privacy</a></li>
            </ul>

        </div>
        <div class="medium-9 column">
            <p>The Western Pennsylvania Regional Data Center supports key community initiatives by making public
                information easier to find and use. The Data Center provides a technological and legal
                infrastructure for data sharing to support a growing ecosystem of data providers and data users.
                The Data Center maintains Allegheny County and the City of Pittsburgh’s open data portal, and
                provides a number of services to data publishers and users. The Data Center also hosts datasets
                from these and other public sector agencies, academic institutions, and non-profit
                organizations. The Data Center is managed by the University of Pittsburgh’s Center for Social
                and Urban Research, and is a partnership of the University, Allegheny County and the City of
                Pittsburgh.</p>
        </div>
    </footer>
    <div class="subfooter">

        <p class="text-center" style="margin: 0">&copy; 2017 University of Pittsburgh, UCSUR, Western Pennsylvania Regional Data Center</p>
    </div>
</div>

<script>
    (function($) {

  var $footer = $('[data-sticky-footer]'); // only search once

  $(window).bind('load resize orientationChange', function () {

    var pos = $footer.position(),
        height = ($(window).height() - pos.top) - ($footer.height() -1);

    if (height > 0) {
       $footer.css('margin-top', height);
    }

  });

})(jQuery);

</script>
